body {
    width: 960px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: honeydew;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    border: solid 4px black;
    border-radius: 7px;
}

#header {
    text-align: center;
    width: 960px;
    justify-content: center;
}

h1 {
    color: green;
}

#numberForm {
    display: flex;
    justify-content: center;
  
}

#btnDiv {
    text-align: center;
}

.gridX {
    background-color: aquamarine;
}

#changeDiv {
    text-align: center;
}
